<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <div id="container-page">
        <div class="viewport">
            <header class="site-nav">
                <nav>
                    <a href="/profile/login">Login</a>
                    <a href="/profile/signup">Sign Up</a>
                </nav>
            </header>
            <div class="image">
                <img src="/static/img/welcome_background.jpg" alt="Cannot load image" style="width: 100%">
                <h1 id="index_heading"><span>D&D Adventurer's League Tracker</span></h1>
            </div>
        </div>
    </div>
</body>

</html>
