<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body class="profile-login">
	<section class="login">
		<form id="login-form" method="post" accept-charset="utf-8">
			<h1>Login</h1>
			<fieldset class="input-group">
				<label for="username-input" class="input-label">Email</label>
				<input id="username-input" type="text" name="username">
			</fieldset>
			<fieldset class="input-group">
				<label for="password-input" class="input-label">Password</label>
				<input id="password-input" type="password" name="password">
			</fieldset>

			<div class="button-container">
				<button class="button submit">Login<span class="spinner"></span></button>
				<a href="/profile/signup" class="btn-secondary">Need an account?</a>
			</div>
			<div class="forgot-container">
				<a href="/forgot">Forgot your password?</a>
			</div>
		</form>
	</section>
</body>

</html>
